.left .btn {
    width: 150px;
    display: flex; 
    justify-content:center;
    padding: 0.5rem;
    padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #11a61d;
  color: #222;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}